<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Food_logo.jpg" width="50px" height="50px">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="onSelect('recipe')">Recipes</a>
      <a mat-list-item href="#" (click)="onSelect('shopping-list')">Shopping List</a>
      <a mat-list-item href="#" (click)="onSelect('account')">Account</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PadClient</span>
    </mat-toolbar>
    <div class="wrapper" *ngIf="thefeature === 'recipe'">
      <hr>
      <app-recipes></app-recipes>
      <hr>
      <app-footer></app-footer>
    </div>
    <div class="wrapper" *ngIf="thefeature === 'shopping-list'">
      <hr>
      <app-shopping-list></app-shopping-list>
      <hr>
      <app-footer></app-footer>
    </div>
<!--    <div class="wrapper" *ngIf="thefeature !== 'recipe'&& thefeature !== 'shopping-list'">-->
<!--      <hr>-->
<!--      <app-recipes-popular></app-recipes-popular>-->
<!--      <hr>-->
<!--      <hr>-->
<!--      <app-recipes-seasonal></app-recipes-seasonal>-->
<!--      <hr>-->
<!--      <hr>-->
<!--      <app-footer></app-footer>-->
<!--      &lt;!&ndash; Add Content Here &ndash;&gt;-->
<!--    </div>-->
  </mat-sidenav-content>
</mat-sidenav-container>
