<a>
  <div class="card border" style="width:400px">
    <img
      routerLinkActive="active"
      [routerLink]="[index]"
      style="cursor:pointer;"
      class="card-img-top"
      [src]="recipe.imagePath"
      alt="Card image">
    <div class="card-body border">
      <h4 class="card-title">{{recipe.name}}</h4>
      <p class="card-text">{{recipe.description}}</p>
      <div class="social">
        <a class="fa fa-facebook"></a>
        <a class="fa fa-twitter"></a>
        <a class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
</a>
